<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Verification</title>
    <style>
    .button {
  background-color: #FF3031; /* red */
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 12px;
  cursor: pointer;
    }
    </style>
</head>
<body>
<form action="email_verification_code" method="post">
    {% csrf_token %}
    <input type="email" name="email" placeholder="Email" required="required">
    <input class='button' type="submit" name="get_code_val" value="Get Code">
    <br>
    <input type="text" name="verification_code" value="" placeholder="Verification Code"><br>
    <input type="submit" name="verify_val" value="Verify">
</form>
{% for msg in messages %}
<h3>{{msg}}</h3>
{% endfor %}
</body>
</html>